:root {
    --primary-text-color: #fbfbfb;
    --primary-bg-color: #0e1823;
    --default-btn-color: rgba(27, 65, 75, 0.5);
    --accent-color: #1b414b;
    --default-transition-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

label {
    user-select: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img,
svg {
    display: block;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    background-image: url(../images/hero/baner.jpg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;

}

@media screen and (max-width: 767px) {
    .section {
        padding: 40px 0;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    body {
        background-image: url("../images/hero/baner@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../images/hero/hero-tablet.jpg");
    }

    .section {
        padding: 75px 0;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    body {
        background-image: url("../images/hero/hero-tablet@2x.jpg");
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-image: url("../images/hero/hero-desctop-min.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    body {
        background-image: url("../images/hero/hero-desctop-min@2x.jpg");
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url("../images/hero/hero-desctop.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    body {
        background-image: url("../images/hero/hero-desctop@2x.jpg");
    }
}




.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

/* ====Header==== */
.naigation-hedar {
    display: none;
}

.header-social-menu {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    background: #FBFBFB;
    margin-top: 20px;
    padding: 7px 20px;

}

.header {
    margin-bottom: 198px;
}

.logo-header {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.burger {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    stroke: var(--accent-color);

}

/* ====/Header==== */
/* =====section Hero====== */
.hero-section {
    text-align: center;
}

.hero-title {
    color: var(--primary-text-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.hero-text {
    color: rgba(251, 251, 251, 0.70);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 38px;
}

.hero-batton {
    border: none;
    background-color: transparent;
    line-height: 0;
    border-radius: 15px;
    background: var(--accent-color);
    padding: 14px 32px;
}

.hero-link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

/* =====section Hero====== */
/* =====section ABOUT-US===== */
.about-us-section {
    margin-top: 243px;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: var(--primary-text-color);
}

.about-us-container-title {
    padding: 40px 20px;
}

.about-us-title {
    color: #1B414B;
    font-size: 28px;
    font-weight: 500;
    /* line-height: 100%; */
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.about-us-text {
    color: #1B414B;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-us-img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 24px;
    background-repeat: no-repeat;
}

.about-us-text-litel {
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

/* =====/section ABOUT-US===== */
/* =======section Our Yachts==== */
.our-yachts-section {
    margin-top: 80px;
    text-align: center;

}

.our-yahts-title {

    color: var(--primary-text-color);
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}


.our-yachts-item-arrow {
    background: var(--primary-text-color);
    border-radius: 24px;
    padding: 16px;
    margin-top: 40px;
}

.our-yachts-arrow-img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 24px;
    background-repeat: no-repeat;
}

.our-yachts-item-benitti {
    display: none;
}

.our-yachts-item-bella-anna {
    display: none;
}

.our-yachts-table {
    padding: 32px 16px 0 16px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

}


.our-yahts-tablet-colum-name {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 118%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.our-yahts-tablet-colum-class {
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.our-yahts-tablet-one {
    color: #040306;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.our-yahts-tablet-two {
    color: #040306;
    font-size: 14px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.03em;
}

.our-yahts-tablet-colum-name,
.our-yahts-tablet-colum-class {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 32px;
    margin-right: 1;
}

.our-yahts-tablet-colum-name::after,
.our-yahts-tablet-colum-class::after {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(4, 3, 6, 0.1);
}

.our-yahts-tablet-one {
    display: flex;
    justify-content: flex-start;
}

.our-yahts-line {
    text-align: start;
}

.our-yachts-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    padding: 14px 32px;
    margin-top: 20px;
}

.our-yachts-link {
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.02em;

}

/* =======/section Our Yachts==== */
/* =========section Advantages===== */
.advantages {
    margin-top: 80px;
}

.advantages-menu {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: var(--accent-color);
    padding: 20px;
}

.advantages-img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-repeat: repeat;
}

.advantages-text-numer {
    color: #FBFBFB;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.05em;
}

.advantages-text {
    margin-top: 0;
    color: var(--primary-text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.advantages-text-number {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 36px;
    margin-bottom: 0;
}

.advantages-text-number::after {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: calc(100% - 0px);
    height: 2px;
    flex-shrink: 0;
    border-radius: 18px;
    background: rgba(251, 251, 251, 0.10);
}

/* =========/section Advantages===== */
/* ======section Rent A Yacht======= */
.rent-a-yuacht-section {
    text-align: center;
    margin-top: 80px;
}

.rent-yuaht-title {
    display: flex;
}

.rent-yuaht-container-input {
    margin-bottom: 18px;
}

.contact-form-input {
    width: 100%;
    height: 42px;
    border-radius: 12px;
    border: 1px solid rgba(251, 251, 251, 0.20);
    outline: 0px solid transparent;
    background-color: transparent;
    padding-top: 14px;
    padding-left: 18px;
    padding-bottom: 14px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(251, 251, 251, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17em;

}

.contact-form-input:hover,
.contact-form-input:focus {
    color: var(--primary-text-color);
    border: 1px solid rgba(251, 251, 251, 0.5);
}

.rent-yuaht-texterea {
    width: 100%;
    height: 108px;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(251, 251, 251, 0.4);
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    background-color: transparent;
    padding-left: 18px;
    padding-top: 14px;
    outline: transparent;
    resize: none;
    transition: border-color var(--default-transition-properties);
}

.rent-yuaht-texterea:hover,
.rent-yuaht-texterea:focus {
    color: var(--primary-text-color);
    border: 1px solid rgba(251, 251, 251, 0.5);
}

.reviev-form-submit-btn {
    border: none;
    display: block;
    min-width: 121px;
    height: 46px;
    padding: 14px 44px;
    border-radius: 15px;
    background-color: var(--accent-color);
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 80px;
    margin-top: 40px;
}

.reviev-form-submit-btn:hover,
.reviev-form-submit-btn:focus {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
}

.rent-yahts-img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-repeat: repeat;
}

/* ======/section Rent A Yacht======= */
/* =====section Reviews======*/
.reviews-item-victoria {
    display: none;
}

.reviews-item--ihor {
    display: none;
}

.coreviews-section {
    text-align: center;
    margin-top: 80px;
}

.reviews-title {
    color: #FBFBFB;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
}

.reviews-desk {
    color: var(--primary-text-color);

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

.reviews-menu {
    margin-top: 40px;
}

.reviews-item-john {
    border-radius: 24px;
    background: var(--primary-text-color);
    padding: 32px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-customers {
    margin-bottom: 24px;
}

.reviews-name-customers {
    color: #040306;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02;
}

.reviews-text-customers {
    color: rgba(4, 3, 6, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

/* =====section Reviews======*/
/* ======footer===== */
.container-footer-one {
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    border-radius: 24px 24px 0px 0px;
    background: #1B414B;
    margin-top: 80px;

}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 30px;
}

.logo-footer {
    order: 1;
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.footer-social-menu {
    order: 2;
    display: flex;
    column-gap: 8px;
}

.footer-nav {
    width: 100%;
    order: 3;
    margin-top: 60px;

}

.footer-item {
    flex: 1;
    text-align: center;
}

.footer-menu {
    display: flex;
    justify-content: center;
    column-gap: 4px;
}

.footer-btn-link {
    border: none;
    background-color: transparent;
    border-radius: 8px;
    background: rgba(251, 251, 251, 0.30);
    color: #FBFBFB;
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
    padding: 15px 24px;
    height: 40px;

}

.footer-link {
    color: #FBFBFB;
}

.footer-btn-link:focus,
.footer-btn-link:hover {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
}

.svg-social-footer {
    fill: var(--primary-text-color);
}

.footer-text {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-aside {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: rgba(251, 251, 251, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-top: 80px;
}

.privasy-police {
    display: flex;
    align-items: center;
    color: rgba(251, 251, 251, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

@media (min-width: 767px) {

    .logo-footer,
    .footer-social-menu,
    .footer-nav {
        order: unset;
        width: auto;
    }
}

/* ======/footer===== */

/* Mobile Menu */
@media screen and (max-width: 767px) {
    .mobile-menu-container {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--primary-bg-color);
        z-index: 9999;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }

    .mobile-menu-container.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container-close-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        stroke: #055545;

    }

    .menu-content {

        margin-top: 201px;
        position: relative;
    }

    .naigation-mobile {
        display: flex;
        justify-content: center;
    }

    .novigation-mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 4px;
    }

    .novigation-mobile-item {
        padding: 15px 24px;
        border-radius: 8px;
        background: rgba(27, 65, 75, 0.50);
    }

    .novigation-mobile-link {
        color: var(--primary-text-color);
        font-size: 9px;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;


    }

    .social-icons-container {

        display: flex;
        justify-content: center;
        position: absolute;
        top: 500px;

        left: 50%;
        transform: translateX(-50%);

        width: 100%;

    }

    .mobile-social-menu {
        display: flex;
        gap: 8px;
    }

    .mobile-svg-social {
        fill: var(--primary-text-color);
    }
}

@media screen and (min-width: 767px) {
    .mobile-menu-container {
        display: none;
    }
}

/* /Mobile Menu */
/* ======TABLET===== */
@media screen and (min-width: 768px) {
    .naigation-hedar {
        display: flex;
    }

    .header-social-menu {
        display: flex;

    }

    .burger {
        display: none;
    }

    /* ======header===== */
    .header-container {
        padding: 4px 28px;
    }

    .logo-header {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
    }

    .novigation-header-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4px;
    }

    .novigation-header-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 91px;
        height: 40px;
        padding: 15px 24px;
        border-radius: 8px;
        background: rgba(27, 65, 75, 0.50);

    }

    .novigation-header-item:hover,
    .novigation-header-item:focus {
        background: var(--accent-color);
    }

    .novigation-header-link {
        color: #FBFBFB;
        font-size: 9px;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
    }

    .header-social-menu {
        column-gap: 8px;
    }

    .header-svg-social {
        fill: var(--accent-color);
    }

    /* ======/header===== */
    /* ========section Hero======= */
    .hero-section {
        margin-top: 265px;
    }

    .hero-title {
        font-size: 70px;
        font-weight: 500;
        line-height: 70px;
        letter-spacing: -0.02em;
    }

    .hero-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;

    }

    .hero-batton {
        padding: 16px 40px;
    }

    .hero-link {
        font-size: 18px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.02em;
    }

    /*=========/section Hero======== */
    /* =========section About Us======= */
    .about-us-section {
        margin-top: 150px;
    }

    .about-us-container-title {
        padding: 50px 136px 50px 32px;
    }

    .about-us-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.02em;
        margin-bottom: 50px;
    }

    .about-us-container-text {
        margin-right: 147px;
    }

    .about-us-text {
        font-size: 23px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.02em;
    }

    .about-us-text-litel {
        font-size: 13px;
        font-weight: 400;
        line-height: 115%;
        letter-spacing: -0.02em;
    }

    /* =========/section About Us======= */
    /* ======section Our Yachts===== */
    .our-yachts-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.02em;
        padding-left: 56px;
        padding-right: 56px;
        margin-top: 150px;
        margin-bottom: 75px;
    }

    .our-yachts-item-benitti {
        display: flex;
    }

    .our-yachts-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .our-yachts-item-arrow,
    .our-yachts-item-benitti {
        width: calc((100% - 32px) / 2);
    }

    .our-yachts-item-arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 40px;

    }

    .our-yachts-arrow-img {
        width: 100%;
        border-radius: 24px;
        border-radius: 24px;
    }

    .our-yachts-item-benitti {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #FBFBFB;

        border-radius: 24px;
        padding: 16px;
        margin-top: 40px;
    }

    .our-yachts-item-benitti-picture {
        margin-bottom: 32px;

    }

    .our-yachts-item-benitti-img {
        width: 100%;
        border-radius: 24px;
    }

    .our-yahts-tablet-colum-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.04em;
    }

    .our-yahts-tablet-colum-class {
        font-size: 13px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.03em;

    }

    .our-yachts-btn {
        margin-top: 50px;
    }

    /* ======/section Our Yachts===== */
    /* =====section-Advantages==== */
    .advantages-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        margin-bottom: 32px;
    }

    .advantages-text-number {
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.05em;
    }

    .advantages-text {
        font-size: 13px;
        font-weight: 400;
        line-height: 115%;
        letter-spacing: -0.02em;
        opacity: 0.8;
    }

    /* =====/section-Advantages====*/
    /* ========section Rent A Yacht===== */

    .rent-a-yuacht-section {
        margin-top: 150px;
    }

    .rent-yuaht-container {
        padding-left: 116px;
        padding-right: 116px;

    }

    .rent-yuaht-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.02em;
        margin-bottom: 50px;
    }

    .contact-form-input,
    .rent-yuaht-texterea {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;

    }

    .reviev-form-submit-btn {
        margin-top: 50px;
    }



    /* ========/section Rent A Yacht===== */
    /* =======section Reviews====== */
    .coreviews-section {
        margin-top: 150px;
    }

    .reviews-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.02em;
        margin-bottom: 25px;
    }

    .reviews-desk {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: -0.02em;
        padding-left: 66.5px;
        padding-right: 66.5px;
    }

    .reviews-item-victoria {
        display: flex;
    }

    .reviews-item-victoria {
        border-radius: 24px;
        background: var(--primary-text-color);
        padding: 32px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviews-menu {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .reviews-item-john,
    .reviews-item-victoria {
        width: calc((100% - 32px) / 2);
    }

    /* =======/section Reviews======  */
    /* ======footer====== */
    .container-footer-one {
        margin-top: 150px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 99px;
    }

    .footer-nav {
        display: flex;
        margin-top: 0%;

    }

    .logo-footer {
        color: #FBFBFB;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.03em;
    }

    .footer-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        column-gap: 4px;
    }

    .footer-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 91px;
        height: 40px;
        padding: 15px 24px;
        margin: 0;
        border-radius: 8px;
        background: rgba(27, 65, 75, 0.50);

    }

    .footer-item:hover,
    .footer-item:focus {
        background: var(--primary-text-color);
        color: var(--accent-color);
    }

    .footer-link {
        color: #FBFBFB;
        font-size: 9px;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
    }

    .footer-link:hover,
    .footer-link:focus {
        color: var(--accent-color);
    }

    .footer-social-menu {
        column-gap: 8px;
    }

    .footer-social-menu {
        fill: var(--primary-text-color);
    }

    .footer-text {
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.02em;
        padding-left: 48px;
        padding-right: 48px;
    }

    .footer-text-data,
    .privasy-police {
        font-size: 14px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.03em;
    }

    .privasy-police
    /* ======/footer====== */
}

/* ======/TABLET===== */
/* ======DESKTOP1280===== */
@media screen and (min-width: 1280px) {

    /*=====  header desctop1280===*/
    .header {
        padding-left: 100px;
        padding-right: 100px;
    }

    /*===== / header desctop1280===*/
    /* =====section Hero-desktop1280===== */
    .hero-section {
        margin-top: 155px;

    }

    .hero-title {
        padding-left: 113px;
        padding-right: 113px;
        font-size: 80px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: -0.02em;
    }

    /* ===== / section Hero-desktop1280===== */
    /* =====section About Us-desktop1280====== */
    .about-us-section {
        margin-top: 180px;
    }

    .about-us-container-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 50px;
    }

    .about-us-title {
        width: 537px;
        margin-right: 189px;

    }

    .about-us-container-text {
        width: 354px;

    }

    .about-us-images {
        margin-top: 70px;
    }

    /* ===== / section About Us-desktop1280====== */
    /* ======section Our Yachts-desktop1280====== */

    .our-yachts-item-bella-anna {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #FBFBFB;

        border-radius: 24px;
        padding: 16px;
        margin-top: 40px;
    }

    .our-yachts-item-bella-anna-picture {
        margin-bottom: 32px;

    }

    .our-yachts-item-bella-anna-img {
        width: 100%;
        border-radius: 24px;
    }

    .our-yachts-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .our-yachts-item-arrow,
    .our-yachts-item-benitti,
    .our-yachts-item-bella-anna {
        width: calc((100% - 50px) / 3);
    }

    /* ====== / section Our Yachts-desktop1280====== */
    /* ========section-Advantages-desktop1280====== */
    .advantages-container {
        display: flex;

        align-items: stretch;

    }

    .advantages-menu {
        margin-right: 32px;
        /* flex: 1; */
        margin-top: 0;
        margin-bottom: 0;
    }

    .advantages-img {
        max-width: 100%;
        height: auto;
    }

    /* ======== / section-Advantages-desktop1280====== */
    /* ========section Rent A Yacht-desctop1280====== */
    .rent-yuaht-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }


    .img-customers {
        width: 100%;
        height: auto;

    }

    .contact-form-input {
        width: 472px;

    }

    .rent-yuaht-container-form {
        margin-left: 50px;
    }

    /* ========section Rent A Yacht-desctop1280====== */

    /* =====section Reviews-desctop1280======== */
    .reviews-item--ihor {
        display: flex;
    }

    .reviews-title {
        padding-left: 136px;
        padding-right: 136px;
    }

    .reviews-desk {
        padding-left: 276px;
        padding-right: 276px;
    }

    .img-customers {
        width: 56px;
        height: 56px;
    }

    .reviews-item--ihor {
        border-radius: 24px;
        background: var(--primary-text-color);
        padding: 32px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviews-menu {
        margin-top: 75px;
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
    }

    .reviews-item-john,
    .reviews-item-victoria,
    .reviews-item--ihor {
        width: calc((100% - 52px) / 3);
    }

    /* ===== / section Reviews-desctop1280======== */
    /* ========footer-desktop1280===== */
    .footer-container {
        margin-left: 45px;
        margin-right: 45px;
    }

    .footer-text {
        padding-left: 269px;
        padding-right: 269px;
    }

    /* ======== / footer-desktop1280===== */

}

/* ======/DESKTOP1280===== */
/* ======DESKTOP1440===== */
@media screen and (min-width: 1440px) {

    /* ====section About Us-desktop1440==== */
    .about-us-title {
        margin-right: 299px;
    }

    /* ==== / section About Us-desktop1440==== */


}

/* ====== / DESKTOP1440===== */