:root {
    --primary-text-color: #fbfbfb;
    --primary-bg-color: #0e1823;
    --default-btn-color: rgba(27, 65, 75, 0.5);
    --accent-color: #1b414b;
    --default-transition-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0 a;
}

ul,
OL {
    padding-left: 0;
    /* margin-bottom: 0; */
    margin-top: 0;
}

label {
    user-select: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img,
svg {
    display: block;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    background-image: url(../images/hero/baner.jpg);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;

}

@media screen and (max-width: 767px) {
    .section {
        padding: 40px 0;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    body {
        background-image: url("../images/hero/baner@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../images/hero/hero-tablet.jpg");
    }

    .section {
        padding: 75px 0;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    body {
        background-image: url("../images/hero/hero-tablet@2x.jpg");
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-image: url("../images/hero/hero-desctop-min.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    body {
        background-image: url("../images/hero/hero-desctop-min@2x.jpg");
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url("../images/hero/hero-desctop.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1440px),
screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px) {
    body {
        background-image: url("../images/hero/hero-desctop@2x.jpg");
    }
}




.container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

/* ====Header==== */
.naigation-hedar {
    display: none;
}

.header-social-menu {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FBFBFB;
    background: #FBFBFB;
    margin-top: 20px;
    padding: 7px 20px;

}

.header {
    margin-bottom: 198px;
}

.logo-header {
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.burger {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    stroke: var(--accent-color);

}

/* ====/Header==== */
/* =====section Hero====== */
.hero-section {
    text-align: center;
}

.hero-title {
    color: var(--primary-text-color);
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.hero-text {
    color: rgba(251, 251, 251, 0.70);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 38px;
}

.hero-batton {
    border: none;
    background-color: transparent;
    line-height: 0;
    border-radius: 15px;
    background: var(--accent-color);
    padding: 14px 32px;
}

.hero-link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

/* =====section Hero====== */
/* =====section ABOUT-US===== */
.about-us-section {
    margin-top: 243px;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: var(--primary-text-color);
}

.about-us-container-title {
    padding: 40px 20px;
}

.about-us-title {
    color: #1B414B;
    font-size: 28px;
    font-weight: 500;
    /* line-height: 100%; */
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.about-us-text {
    color: #1B414B;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-us-img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 24px;
    background-repeat: no-repeat;
}

.about-us-text-litel {
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.4;
}

/* =====/section ABOUT-US===== */
/* =======section Our Yachts==== */
.our-yachts-section {
    margin-top: 80px;
}

.our-yahts-title {

    color: var(--primary-text-color);
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.our-yachts-menu {
    background: var(--primary-text-color);
    border-radius: 24px;
    padding: 16px;
    margin-top: 40px;
}

.our-yachts-arrow-img {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    border-radius: 24px;
    background-repeat: no-repeat;
}

.our-yachts-item-benitti {
    display: none;
}

.our-yachts-item-bella-anna {
    display: none;
}

/* =======/section Our Yachts==== */

/* Mobile Menu */
@media screen and (max-width: 767px) {
    .mobile-menu-container {
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--primary-bg-color);
        z-index: 9999;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }

    .mobile-menu-container.is-open {
        transform: translateX(0%);
    }

    .mobile-menu-container-close-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        stroke: #055545;

    }

    .novigation-mobile-link {
        border-radius: 8px;
        background: rgba(27, 65, 75, 0.50);
    }
}

@media screen and (min-width: 767px) {
    .mobile-menu-container {
        display: none;
    }
}

/* /Mobile Menu */